@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all users";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>List of all users</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>
@*@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<h1>Profile</h1>

<div>
    <h3>Welcome, @UserManager.GetUserName(User)!</h3>
    <p>Here you can view and manage your profile information.</p>
</div>*@

@if (User.IsInRole("Admin"))
{
    <div>
        <h3>Admin Section</h3>
        <p>This section is only visible to users with admin privileges.</p>
    </div>
}
